.popup_opened {
  display: block;
  }
  
  .popup_opened::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    background-color: black;
    opacity: 0.5;
    width: 1280px;
    height: 2000px;
    z-index: 1;
  }


  @media screen and (max-width: 890px) {
    .popup_opened::after {
      max-width: 100%;
      box-sizing: border-box;
    }
  }
